fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.43
psycopg[binary]==3.2.9
geoalchemy2==0.17.1
alembic==1.16.5
pydantic==2.11.7
pydantic-settings==2.10.1
python-multipart==0.0.20
httpx==0.28.1
orjson==3.11.3
PyJWT==2.10.1
bcrypt==4.2.1

